/* date range */

.range-body
{
	width: 250px; 
	margin-left: 10px;
}

@media (max-width: 767px) {
.range-body
{
	width: 250px; 
    margin: 0 auto;
}
}

@media (min-width: 576px) {
.modal-sm {
    max-width: 550px;
}
}