/* date range */

.range-body
{
	width: 250px; 
	margin-left: 25px;
}

@media (max-width: 767px) {
.range-body
{
	width: 250px; 
    margin: 0 auto;
}
}

@media (min-width: 576px) {
.modal-sm {
    max-width: 550px;
}
}

.nav-contact {
	margin-left: 10px; 
	margin-top: 15px; 
	color: black;
}

.nav-contact a {
	color: black;
	margin-left: 5px;
}

.nav-contact a:hover {
	color: #28a9e0;
}

.nav-email {
	margin-left: 20px !important;
}

@media (max-width: 767px) {

	.nav-contact a {
		margin-left: 0px;
	}

	.nav-contact i {
		visibility: collapse;
	}

	.nav-email {
		margin-left: 0px  !important;
	}

	.header-content-right {
		margin-top: 50px;
	}
}